@using Chattland.DataTransferContract.DataTransferTypes
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.SignalR.Client
@using OmegaLulChat.Auth
@inject IHttpClientFactory _httpClientFactory
@inject AuthenticationStateProvider _authenticationStateProvider
@attribute [Authorize(Roles = "User")]

<h3>@Room</h3>

<EditForm Model="_newChatMessage" OnValidSubmit="Callback">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Message</label>
        <InputText class="form-control" @bind-Value="_newChatMessage.Message"></InputText>
    </div>
    <button class="btn btn-primary" type="submit">Send Message</button>
</EditForm>
<hr />
<div class="col">
    <Virtualize Items="_messages.OrderByDescending(m=>m.CreatedAt).ToList()" Context="message">
        <li class="card bg-gradient border-3">
            <label class="card-header text-primary text-lg-start">@message.Sender.Name</label>
            <p class="card-body ">@message.Message</p>
            <label class="card-footer text-primary text-lg-end">@message.CreatedAt.ToLocalTime().ToString("HH:mm")</label>
        </li>
    </Virtualize>
</div>